.floating-heart{
    position:absolute;
    animation:floatUpDown 4.5s ease-in-out infinite;
    z-index:0;
    pointer-events:none;
}

@keyframes floatUpDown{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0px);
    }
}